
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
*::before, *::after{
  padding: 0;
  margin: 0;
}
:root{
  --pink: #ff74a4;
  --violet: #9f6ea3;
  --lightblack: #515C6F;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0,0,0,0.15);
}

body{
  min-height: 100vh;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}

/* ------------------------- */
/* Estilos CSS del Reproductor  Video*/
/* ------------------------- */
.Repro-video {
  display: flex;
  
  }
.titulo {
  margin-top: 20px;
  text-align: center;
  font-size: 3em;
  color: white;
}
iframe  {
	width: 850px;
  height: 500px;
	box-shadow: 5px 6px 6px 1px rgba(0, 0, 0, 0.281);
  margin: 20px 0px 150px 250px;
}


iframe .vjs-control-bar {
	background: #F4F4F4;
	color: #ff74a4;
}

.iframe .vjs-play-progress,
.iframe .vjs-volume-level {
	background: #ff74a4;;
}

iframe .vjs-slider {
	background: #F4F4F4;
}

.iframe-js:hover .vjs-big-play-button {
	background: rgba(0, 0, 0, 0.377);
}
/* ------BOTON CENTRO------- */
.video .vjs-big-play-button {
	background: rgba(24, 20, 20, 0.2);
  margin-left: 50px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}

.video .vjs-big-play-button:hover {
	background: rgba(202, 11, 122, 0.5);
}
/* ------------------------- */
/* Estilos CSS del Reproductor Audio*/
/* ------------------------- */

.reproductor{
  margin: 60px ;
  width: 900px;
  height: 600px;
  margin-left: 190px;
}


.wrapper{
  width: 380px;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background: var(--white);
  background: rgba(3, 3, 3, 0.342);
  box-shadow: 1px 1px 10px #000;
  box-shadow: 0px 6px 15px var(--lightbshadow);
}
.wrapper i{
  cursor: pointer;
}
.top-bar, .progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i{
  font-size: 30px;
  color: var(--white);
}
.top-bar i:first-child{
  margin-left: -7px;
}
.top-bar span{
  font-size: 18px;
  margin-left: -3px;
  color: var(--white);
}
.img-area{
  width: 100%;
  height: 256px;
  overflow: hidden;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 0px 6px 12px var(--lightbshadow);
}
.img-area img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-details{
  text-align: center;
  margin: 30px 0;
}
.song-details p{
  color: var(--white);
}
.song-details .name{
  font-size: 21px;
}
.song-details .artist{
  font-size: 18px;
  opacity: 0.9;
  line-height: 35px;
}
.progress-area{
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
}
.progress-area .progress-bar{
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
}
.progress-bar::before{
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
  opacity: 1;
  pointer-events: auto;
}
.progress-area .song-timer{
  margin-top: 2px;
}
.song-timer span{
  font-size: 13px;
  color: var(--white);
}
.controls{
  margin: 40px 0 5px 0;
}
.controls i{
  font-size: 28px;
  user-select: none;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
  font-size: 43px;
}
.controls #prev{
  margin-right: -13px;
}
.controls #next{
  margin-left: -13px;
}
.controls .play-pause{
  height: 54px;
  width: 54px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
  box-shadow: 0px 0px 5px var(--pink);
}
.play-pause::before{
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.play-pause i{
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}
.music-list{
  position: absolute;
  background: var(--white);
  width: 85%;
  left: 1;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 25px 10px;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
  transition: all 0.15s ease-out;
}
.music-list.show{
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.header .row{
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--white);
}
.header .row i{
  cursor: default;
}
.header .row span{
  margin-left: 5px;
}
.header #close{
  font-size: 22px;
  color: var(--lightblack);
}
.music-list ul{
  margin: 10px 0;
  max-height: 260px;
  overflow: auto;
}
.music-list ul::-webkit-scrollbar{
  width: 0px;
}
.music-list ul li{
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: var(--lightblack);
  border-bottom: 1px solid #E5E5E5;
}
.music-list ul li:last-child{
  border-bottom: 0px;
}
.music-list ul li .row span{
  font-size: 17px;
}
.music-list ul li .row p{
  opacity: 0.9;
}
ul li .audio-duration{
  font-size: 16px;
}
ul li.playing{
  pointer-events: none;
  color: var(--violet);
}

/* ------------------------- */
/* Seleccion Musica*/
/* ------------------------- */
.reproductor{
  margin: 60px ;
  width: 900px;
  height: 600px;
  margin-left: 200px;
}
.selecccion{
  position: absolute;
  text-align: center;
  margin: 200px 0px 0px 520px;
  width: 500px;
  height: 300px;
  font-size: 45px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  animation: saltar 2s infinite;
  }
  
  /* ANIMACION TEXTO*/
  
  .selecccion {
    animation: saltar 3s infinite;
  }
  
  @keyframes saltar {
    0% {
        
        transform: translateY(0);
    }
    
    50% {
        
      transform: translateY(8px);
    }
  
     100% {
        
      transform: translateY(0px );
    }
  }

/* ------------------------- */
/* INTRO
/* ------------------------- */
.contenedor1 {
  display: flex;
  }

.star {
  margin-top: 40px;
  padding: 10px;
  width: 1000px;
  height:500px;
  
  } 
.star h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 7em;
  color: white; 
}

.star p {
  text-align: left;
  padding-left: 10px;
  font-size: 2.8rem;
   
}

.supert{
  
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  height: 300px;
  margin: 250px 0px 0px 0px;
  animation: delay 5s;
  
}
.supert h1{
  display: flex;
  text-align: center;
  font-size: 2.5em;
}
.supert h2{
  display: flex;
  text-align: center;
  font-size: 2em;

}
.efecto{
  font-style: italic;
  font-size: 40px;
  position: absolute;
  animation: roll 8s ease 1s infinite backwards;
}

/* animacion texto*/
.efecto:nth-child(1){
  animation-delay: 0s;
  opacity: 0;
}
.efecto:nth-child(2){
  animation-delay: 2s;
  opacity: 0;
}
.efecto:nth-child(3){
  animation-delay: 4s;
  opacity: 0;
}
.efecto:nth-child(4){
  animation-delay: 6s;
  opacity: 0;
}


@keyframes roll {
  
  0% {
  opacity: 0;
  transform: translate3d(0,-70%,0);
}
2.5%, 25% {
opacity: 1;
transform: translateZ(0);
}
 27.5%, 100% {
   opacity: 0;
   transform: translate3d(0,70%,0);
 }
}

/* ------------------------- */
/* Viaje*/
/* ------------------------- */

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 35vh;
	font-size: 36px;
	
}

.container {
	width: 75%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container::after {
	content: "";
	width: 2px;
	height: 100%;
	background: #1b3231;
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.evento {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
  

}

.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #DCDFD9;
	border: 2px solid #1b3231;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}
.fecha strong{
  text-align: center;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.829);
  font-family: 'Comic Sans MS';
 
}

.fecha {
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc(42% + 20px);
	font-size: 38px;
	font-weight: normal;
  color: rgba(223, 238, 238, 0.842);
  font-family: 'Comic Sans MS';
}

.foto {
	width: 42%;
	border: 10px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

.foto img {
	width: 100%;
	vertical-align: top;
}

.evento:nth-child(even) {
	flex-direction: row-reverse;
}

.evento:nth-child(even) .fecha {
	justify-content: end;
}

.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -50px;
}

/* ------------------------- */
/* ANIMACION*********/
/* ------------------------- */

.gif{
  position: relative;
  margin-bottom: 0;
  padding: 500px 0px 250px 500px;
  }

 .animacion h1{
  animation: joke 3s;
  animation-iteration-count: 1;
}

.animacion iframe{
   animation: delay 4s;
  animation-iteration-count: 1;
}

.animacion1 {
  animation: joke 3s;
  animation-iteration-count: 1;
}
.animacion1 p{
  animation: delay 2s;
  animation-iteration-count: 1;
}

@keyframes joke {
     from {
      opacity: 0;
    }
    to {
   opacity:1;
  }
}

@keyframes delay {
  0% {
  opacity: 0;
}
50% {
  opacity: 0;
}
75% {
opacity: 0;
}
80% {
opacity: 0;
}
 100% {
  opacity: 100;
}
}
/* ------------------------- */
/* IMPORTANTE********/
/* ------------------------- */
.importante h2{
  text-align: center;
  padding: 50px;
  color: white;
  font-size: 2.5em;
  font-family: 'Comic Sans MS';
}
.importante h1 {
  text-align: center;
  padding:10px 0px 550px 0px;
  color: white;
  font-size: 2.5em;
  font-family: 'Comic Sans MS';
}
.importante img{
padding: 0px 450px 0px 450px;
}
.importante2 h3{
  text-align: center;
  padding: 50px;
  color: white;
  font-size: 4.5em;
  font-family: 'Comic Sans MS';
}
.importante2 img{
  width: 60%;
  padding: 10px 270px 100px 270px;
  }
/* ------------------------- */
/* FIN******************/
/* ------------------------- */
.gracias {
  text-align: center;
  font-size: 4em;
  color: white;
  animation: saltar 1.5s infinite;
}

.rotulo {
margin: 60px;
font-size: 2.3em;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgba(6, 2, 80, 0.479);

}